
body {
    background-color: #e7be08;
    /* font-family: Arial, sans-serif; */
    /* font-family: "Times New Roman", Times, serif; */

}

.dashboard {
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    margin: 20px auto; 
    max-width: 1200px; 
    margin-top: 2rem;
}

.card {
    border: none;
    border-radius: 10px;
    transition: transform 0.2s; 
    text-align: center;
    background-color: #b0f1f1; 
}

.card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
}


.card-header {
    background-color: #033162; 
    color: #fff; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 1.25rem;
}

.card-header a {
    color: #007bff;
    text-decoration: none;
}

.card:hover .card-header a {
    color: #0056b3;
}

.card-body {
    color: #333;
    font-size: 1.5rem;
    /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); */
}

h2 {
    font-size: 2rem;
    font-weight: bold; 
}

p {
    font-size: 1rem; 
    margin-top: 10px; 
}
@media (max-width: 576px) {
    .card {
        margin-bottom: 20px;
    }
}

